.searchstaffinfo-portlet .searchStaffInfo-title {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 13px;
  margin-left: 5px; }
.searchstaffinfo-portlet .searchStaffInfo-contentField {
  width: 100%;
  margin-bottom: 5px;
  float: left;
  font-size: 12px;
  margin-left: 5px; }
.searchstaffinfo-portlet .searchStaffInfo-contentRowA {
  float: left;
  width: 25%;
  font-weight: bold; }
.searchstaffinfo-portlet .searchStaffInfo-contentRow {
  font-weight: bold;
  margin-bottom: 5px; }
.searchstaffinfo-portlet .button-search {
  height: 25px; }
.searchstaffinfo-portlet .textbox-search, .searchstaffinfo-portlet .selectbox-search {
  width: 50%; }
.searchstaffinfo-portlet .searchStaffInfo .input {
  width: 250px;
  float: left;
  border: 1px solid #ccc;
  text-align: left;
  color: #555;
  font-size: 12px;
  height: 23px;
  line-height: 23px; }
.searchstaffinfo-portlet .searchStaffInfo .select {
  width: 252px;
  float: left;
  border: 1px solid #ccc;
  text-align: left;
  color: #555;
  font-size: 12px;
  line-height: 23px;
  padding: 5px; }
.searchstaffinfo-portlet .searchStaffInfo h2.title_tab label {
  border-left: 7px solid #FFD126;
  display: block;
  padding-left: 7px;
  text-align: left; }
.searchstaffinfo-portlet .searchStaffInfo h2.title_tab {
  background-color: #FDA164;
  color: #FFFFFF;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  margin-bottom: 15px; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table {
  width: 100%;
  border: 1px solid #cdcdcd;
  border-collapse: collapse; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table td, .searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table th {
  border: 1px solid #cdcdcd;
  font-size: 12px;
  color: #333;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table td {
  line-height: 20px; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table th {
  font-weight: bold;
  background-color: #efefef;
  color: #111; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table tr:hover {
  background-color: #fcf5d6;
  cursor: pointer; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table td a {
  color: #6F310A; }
.searchstaffinfo-portlet .searchStaffInfo .searchStaffInfo-search table td a:hover {
  text-decoration: underline; }
.searchstaffinfo-portlet .searchStaffInfo {
  border: 1px solid #CCCCCC;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px; }
.searchstaffinfo-portlet .searchStaffInfo-info, .searchstaffinfo-portlet .searchStaffInfo-search {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px; }
.searchstaffinfo-portlet .searchStaffInfo-result {
  margin-bottom: 20px; }

