.question-submit-portlet {
	.portlet-body {
		display: inline-block;
	}
	.red {
		color: red;
	}
	input[type=text] {
		width: 250px !important;
	}
	#_questionsubmit_WAR_tinhdoportlet_questionTitle , #_questionsubmit_WAR_tinhdoportlet_questionTypes {
		width: 599px;
	}
	#_questionsubmit_WAR_tinhdoportlet_questionTypes {
		width: 603px;
		padding:5px;
	}
	#_questionsubmit_WAR_tinhdoportlet_questionContent {
		width: 599px;
		height: 150px;
	}
	.recaptcha_position {
	    left: 152px;
	    position: relative;
	    top: -79px;
	}
	input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border:1px solid #ff0000
	}
	.rowbutton .btn { padding:0px;}
	#img_question_submit img {
		cursor: pointer;
		height: 70px;
	}
	#img_question_submit {
		display: inline-block;
	    margin-bottom: 30px;
	    margin-top: 23px;
	    padding: 10px;
	}
	ul.list_question {
		margin: 0 1% 0 1% !important;
	}
	.box_bg {
		border: none !important;
		float: left;
	}
	.content_header {
    	width: 728px;
	}
}

.portlet-dropzone {
		padding: 0px !important;
}
.error_editor {
	border: 1px solid red !important;
}
.error_mes , .error_mes_maxlength {
	background-color: #333333;
    color: #FFFFFF;
    display: block;
    margin-top: 2px;
    padding: 5px;
    z-index: 5;
    position: absolute;
    width: 96.8%;
    display: none;
}
.error_mes:hover {
	display: inline-block;
}