.schedule-portlet .portlet {
  display: inline-block;
  width: 100%; }
.schedule-portlet .label_left {
  display: inline;
  float: none;
  text-align: left;
  margin: 0;
  width: auto; }
.schedule-portlet .schedule_form_content {
  border-bottom: 1px solid #CCCCCC;
  height: 120px;
  margin: 0 10px; }
.schedule-portlet .portlet_wrapper {
  border: 1px solid #CCCCCC;
  width: 730px; }
.schedule-portlet .schedule_config {
  margin: 15px; }
.schedule-portlet .schedule_config div {
  margin: 10px 0; }
.schedule-portlet .schedule_config div label {
  margin: 0 10px; }
.schedule-portlet .schedule_config_title {
  font-size: 14px;
  font-weight: bold; }
.schedule-portlet .scheSearchPn {
  float: left;
  margin: 25px 20px 10px 0;
  line-height: 30px;
  display: inline-flex; }
.schedule-portlet .weekly_schedule {
  margin-top: 10px; }
.schedule-portlet .weekly_schedule .weekly_schedule_title {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin-left: 10px; }
.schedule-portlet .schedule_cbx {
  margin-left: 10px; }
.schedule-portlet .schedule_cbx select {
  color: #555555;
  float: left;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 4px;
  text-align: left;
  width: 150px; }
.schedule-portlet .box_calender_work {
  width: 98%;
  margin-bottom: 25px;
  padding: 1%; }
.schedule-portlet .box_calender_work tr td:first-child {
  font-weight: bold; }
.schedule-portlet .box_calender_work li {
  list-style: none;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  line-height: 18px; }
.schedule-portlet .box_calender_work table tr.title th {
  width: 17%; }
.schedule-portlet .box_calender_work table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc; }
.schedule-portlet .box_calender_work table td, .schedule-portlet .box_calender_work table th {
  border: 1px solid #ccc;
  padding: 3px;
  font-size: 12px;
  color: #333;
  padding-top: 6px;
  padding-bottom: 8px; }
.schedule-portlet .box_calender_work table th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #eee; }
.schedule-portlet .box_calender_work table td a {
  color: #333; }
.schedule-portlet .box_calender_work table td p {
  margin-bottom: 5px;
  line-height: 18px; }
.schedule-portlet .box_calender_work table td:hover {
  background-color: #F8ECD1; }

