.writingabouttinhdolist-portlet {
	ul .list_new {
		float: left;
		width: 100%;
	}

	ul.list_new li {
		border-bottom: 1px dotted #DEDEDE;
		float: left;
		font-size: 12px;
		list-style: none outside none;
		padding-bottom: 12px;
		padding-top: 10px;
		text-align: left;
		width: 100%;
	}
	
	ul.list_new li .photo {
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		float: left;
		margin-left: 6px;
		margin-right: 8px;
		padding: 2px;
		width: 150px;
	}
	
	ul.list_new li .tex_list {
		float: none;
		margin-left: 173px;
		margin-right: 10px;
		width: auto;
	}
	
	ul.list_new li .tex_list .title_v {
		float: left;
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 6px;
		width: 100%;
	}
	
	ul.list_new li a {
		color: #333333;
	}
	
	ul.list_new li .tex_list .content_small {
		color: #333333;
		line-height: 18px;
	}
	
	.content_detail_news {
		margin: 20px;
	}
	
	.content_detail_news h1.title {
		color: #333333;
		display: block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
		text-align: left;
	}
	
	.content_detail_news .date_time {
		color: #888888;
		font-size: 12px;
		margin-bottom: 15px;
		text-align: right;
		width: 100%;
		float: left;
	}
	
	.content_detail_news .date_time span {
		float: left;
		text-align: left;
	}
	
	.content_detail_news .supdetail {
		color: #555555;
		font-size: 13px;
		font-weight: bold;
		line-height: 18px;
		margin-bottom: 20px;
		text-align: left;
	}
	
	.content_detail_news .textdetail {
		color: #333333;
		font-size: 12px;
		line-height: 18px;
		text-align: left;
	}
	
	.content_detail_news .textdetail img {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	ul.list_detail {
		border-top: 1px dotted #CCCCCC;
		margin-bottom: 20px;
		margin-top: 15px;
		padding-top: 20px;
		padding-left: 2%;
		padding-right: 2%;
		width: 96%;
		float: left;
	}
	
	ul.list_detail li.title {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	ul.list_detail li {
		background: url("../images/icons/icon_row_back.png") no-repeat scroll
			5px 7px rgba(0, 0, 0, 0);
		color: #333333;
		float: left;
		font-size: 12px;
		list-style: none outside none;
		padding-bottom: 4px;
		padding-top: 4px;
		text-align: left;
		width: 100%;
	}
	
	ul.list_detail li a {
		color: #333333;
		float: left;
		padding-left: 15px;
	}
	
	a.icon_mail {
		background: url("../images/icons//email.jpg") no-repeat scroll 0 2px
			rgba(0, 0, 0, 0);
		display: inline-block;
		height: 16px;
		margin-right: 3px;
		text-indent: -9999px;
		width: 16px;
	}
	
	a.icon_print {
		background: url("../images/icons/print.jpg") no-repeat scroll 0 0
			rgba(0, 0, 0, 0);
		display: inline-block;
		height: 16px;
		text-indent: -9999px;
		width: 16px;
	}
	
	ul.list_new li a:hover {
	    text-decoration: underline !important;
	}
	
	.box_bg { 
		min-height: 929px;
	}
}