.writingabouttinhdo-portlet .box_dk .title a {
  color: #6F310A; }
.writingabouttinhdo-portlet .box_dk .title {
  color: #6F310A;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px; }
.writingabouttinhdo-portlet .about_content {
  padding: 10px; }
.writingabouttinhdo-portlet .margin_top_0 {
  margin-top: 0px !important; }
.writingabouttinhdo-portlet .box_dk {
  padding-left: 10px; }

